@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display= intercambiar');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4e3716;
}

/*---HEADER---*/

.hero {
    height: 100vh;
    background-image: url("../img/fondoHeader.jpg");
}

.hero__header {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-inline: 2rem;
}

.hero__header .logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

.header__rigth {
    display: flex;
    flex-direction: column;
    align-items: flex end;
    gap: 1rem;
}

.header__rigth p {
    font-family: "Roboto Condensed", sans-serif;
}

.header__rigth .menu {
    font-family: "Bebas Neue", sans-serif;
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    gap: 2rem;
    letter-spacing: 2px;
}

.hero__main {
    display: flex;
    padding-inline: 7rem;
}

.hero__main>div {
    flex: 1;
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__text h4 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    border: 2px dashed #4e3716;
    width: max-content;
    padding: .5rem;
    padding-bottom: .4rem;
    margin-bottom: 1rem;
}

.hero__text h2 {
    font-family: "Alfa Slab One", serif;
    font-size: 6rem;
    line-height: 1;
    text-shadow: 6px 6px 0 white;
}

.hero__text h3 {
    font-family: "Alfa Slab One", serif;
    font-size: 3rem;
    text-shadow: 6px 6px 0 white;
}

.hero__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
    position: relative;
}

.hero__img img {
    width: 800px;
}

.hero__img .sale {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    background-color: #af1616;
    width: 100px;
    height: 100px;
    padding: 4.5rem;
    border-radius: 50%;
    border: 2px dashed white;
    outline: 5px solid #af1616;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

.hero__img .sale .price {
    color: white;
    font-size: 3rem;
    line-height: 1;
}

.hero__img .sale .price small {
    color: white;
    font-size: 2rem;
}

.hero__img .sale .only {
    color: white;
    font-size: 2.3rem;
    line-height: 1;
    letter-spacing: 2px;
}

/*---GRID---*/

.grid {
    padding: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "item1 item2"
        "item1 item3";
    gap: 2rem;
}

.grid_item {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
    padding: 1.5rem;
}

.grid_item h5,
.grid_item h4 {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
}

.grid_item1 {
    grid-area: item1;
    background-image: url("../img/pizza-med-pepperoni-grid1");
    height: 400px;
}

.grid_item h5 {
    font-size: 1.2rem;
}

.grid_item h4 {
    font-size: 1.6rem;
}

.grid_item2 {
    grid-area: item2;
    background-image: url("../img/pizza-grid2.jpg");
}

.grid_item3 {
    grid-area: item3;
    background-image: url("../img/Pizza-grid3.webp");
}


.contenedor-ordenar .tituloOrdenar {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-ordenar .tituloOrdenar h2{
    font-family: "Alfa Slab One", serif;
    font-size: 2rem;
    background-color: #dfc42b;
    padding: .5rem 1rem .25rem 1rem;
}

/*~~~CARRITO~~~*/

h1,
h2 {
    padding: 20px;
}

.productos {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 1rem;
}

.card-product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    color: #191919;
    padding: 10px;
    
}

.card-product button {
    padding: 10px;
    border: 1px solid #191919;
    color: #191919;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.card-product button:hover {
    background-color: #191919;
    color: #eee;
    box-shadow: 1px 1px 5px #474747;

}

.card:nth-child(even) {
    background-color: #ffffff;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 20px;
}

.card-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #eee;
}

.carrito-footer {
    width: 100%;
    background-color: #eee;
    padding: 20px;
    color: #191919;
}

.eliminar-carrito {
    padding: 10px;
    background-color: rgb(255, 190, 190);
    cursor: pointer;
}

#total {
    padding: 20px;
    text-align: right;
}




/*---EVENTS---*/

.events {
    padding: 6rem;
    padding-top: 0;
}

.inner {
    display: flex;
    padding: 2rem;
    box-shadow: 15px 15px 40px #cccccc;
}

.inner_left {
    padding-block: 2rem;
    padding-right: 2rem;
    flex: 1;
    position: relative;
}

.inner_left h5 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: #4b4b4b;
    letter-spacing: 1px;
}

.inner_left h3 {
    font-family: "Alfa Slab One", serif;
    font-size: 2rem;
}

.inner_left p {
    font-family: "Roboto Condensed", sans-serif;
    color: #4b4b4b;
    font-size: 1.1rem;
}

.inner_left,
.inner_rigth {
    flex: 1.25;
    min-width: 0;
}

.inner_rigth img {
    max-width: 100%;
}

.dots {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 1rem;
    left: 0;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #cccccc;
    border-radius: 50%;
}

.dot-y {
    background-color: #dfc42b;
}

/*---MODO OSCURO---*/

.btn-group {
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    gap: 2rem;
    letter-spacing: 2px;
}

.btn-group .btn {
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #46280c;
}

.btn-group .btn:hover {
    background-color: #f0e5e7;
}

body {
    transition: background-color 0.7s, color 0.7s;
}

body.dark-mode {
    background-color: #000000;
    color: white;
}

.lista-item {
    display: flex;
    justify-content: space-between;
}

.span-borrar {
    cursor: pointer;
}